body {
  background-color: #301f57;
  color: #cad4ff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.filters {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.element_filters {
  display: flex;
  gap: 4px;
}

.element_filters img {
  height: 40px;
  border-radius: 10%;
  border: solid 4px #0e0e0e;
  background-color: #00000050;
}

.mainButtons {
  padding: 30px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  display: block;
}

h1,
h2 {
  text-align: center;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 5px;
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(112px, 1fr));
  grid-gap: 10px;
}

.CharacterCard {
  max-width: 112px;
  background-color: #0e0e0e;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10%;
  border: none;
  padding: 3px;
  margin: 2px;
}

.CharacterCard.disabled {
  opacity: 0.35;
}

.CharacterCard:hover {
  background-color: rgb(115, 115, 115);
}

.CharacterPortrait img {
  width: 100%;
  height: auto;
  border-radius: 10%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  margin: 0px;
}

.Path img {
  position: absolute;
  left: 5%;
  top: 5%;
  height: 25%;
}

.Element img {
  position: absolute;
  right: 5%;
  top: 5%;
  height: 25%;
}

.CharacterName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
  color: #cad4ff;
  width: 60%;
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  padding: 5px 2px;
  border-radius: 10%;
}

.draft-button {
  display: block;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  font-size: 1.5em;
  border-radius: 20px;
  border: none;
  background-color: #cad4ff;
  color: #301f57;
  padding: 20px;
}

.draft-button:hover {
  color: #cad4ff;
  background-color: #744bd3;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 5px;
}
.guest-setup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.host-setup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.input-field {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-right: 20px;
  font-size: 1.5em;
  border: none;
  background-color: #effeff;
  color: #301f57;
  padding: 20px;
}

.draft-grid {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: auto;
  width: auto;
}

.DraftCard {
  text-align: center;
  width: 200px;
  background-color: transparent;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  border: none;
  padding: 3px;
  margin: 2px;
}

.DraftPortrait img {
  max-width: 200px;
  height: auto;
  border-radius: 10%;
  margin: 0px;
  border: solid 5px #18011f;
}

table {
  margin: 15px auto;
  font-size: 0;
}
td {
  border: solid 5px #18011f;
  border-radius: 15%;
}
td img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 18px;
}

.active {
  opacity: 0.5;
}

.opacity-zero {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .draft-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    width: 90%;
  }

  .DraftCard {
    max-width: 100px;
    background-color: transparent;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    border: none;
    padding: 3px;
    margin: 2px;
  }

  .DraftPortrait img {
    width: 100px;
    height: auto;
    border-radius: 10%;
    margin: 0px;
    border: solid 5px #18011f;
  }

  .character-grid {
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
    width: 95%;
  }
  .CharacterCard {
    max-width: 75px;
    background-color: #0e0e0e;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10%;
    border: none;
    padding: 3px;
    margin: 2px;
  }

  .Path img {
    position: absolute;
    left: 5%;
    top: 5%;
    height: 25%;
  }

  .Element img {
    position: absolute;
    right: 5%;
    top: 5%;
    height: 25%;
  }

  .draft-button {
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 5px;
    font-size: 0.5em;
    border-radius: 20px;
    border: none;
    background-color: #cad4ff;
    color: #301f57;
    padding: 5px;
  }

  .draft-button:hover {
    color: #cad4ff;
    background-color: #744bd3;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  .input-field {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 0.5em;
    border: none;
    background-color: #effeff;
    color: #301f57;
    padding: 5px;
  }
}
